@import './variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    font-family: $main-font;
    background: linear-gradient(to bottom, #1c1d1d, #138068, #6d1380);
}