// Fonts
$main-font: 'Montserrat', sans-serif;

// Colors 

$green-emerald: #138068;
$violet: #6d1380;

// Sizes

$arrow-width: 10px;
$arrow-stroke: 2px;

// Special class

.modal-overflow{
    max-height: 100vh;
    overflow: hidden;
}